** {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 29, 29);
  gap: 40px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 210px;
  background: rgb(38, 38, 38);
  position: relative;
  transition: 1s;
  border-radius: 10px;
  background: black;
}
.lines {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50;
  width: 100%;
  height: 25%;
  background: linear-gradient(
    transparent,
    rgb(81, 214, 255),
    rgb(81, 214, 255),
    transparent
  );
  transition: all 0.5s;
  animation: animate linear infinite 2s;
  animation-play-state: paused;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    rotate: 360deg;
  }
  100% {
    transform: translate(-50%, -50%);
    rotate: 0%;
  }
}
.lines::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(38, 38, 38);
  inset: 3px;
  border-radius: 5px;
}
.card:hover .lines::before {
  animation-play-state: running;
}

.card .imgBox {
  width: 140px;
  height: 140px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  z-index: 10;
  overflow: hidden;
  transition: 1s;
  background: black;
  border-radius: 10px;
  object-fit: contain;
}
.imgBox img {
  width: 90%;
  height: 90%;
  z-index: 10;
  position: relative;
  padding: 10px;
}
.imgBox::before {
  border-radius: 10px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50;
  width: 120%;
  height: 25%;
  background: linear-gradient(
    transparent,
    rgb(81, 214, 255),
    rgb(81, 214, 255),
    transparent
  );
  transition: all 0.5s;
  animation: animate linear infinite 2s;
}

.imgBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(38, 38, 38);
  inset: 2px;
  border-radius: 10px;
}
.card:hover .imgBox::before {
  animation-play-state: paused;
}
.card:hover {
  height: 400px;
}
.card:hover .imgBox {
  top: 40px;
}
.contentSub {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  position: relative;
  z-index: 14;
  flex-direction: column;
  transform: translateY(60%);
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10%;
  text-align: center;
}
.content {
  overflow: hidden;
  position: relative;
  z-index: 12;
  width: 100%;
  height: 100%;
}

.contentSub button {
  background-color: rgb(107, 198, 210);
  width: 8rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  color: black;
  font-weight: bold;
}

.content h1 {
  color: rgb(107, 198, 210);
}

/* SLIDER /////////////////////////////////////////////////// */

.slider {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 99vh;
  width: 100%;
}
/* Lower */
.images {
  display: flex;
  width: 1200px;
  position: relative;
  height: 150px;
  background: yellow;
}
.images img {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 20%;

  border: 2px solid black;
  transition: all 0.6s ease, z-index 0s;
}

.lowerPart {
  display: flex;
}

.images img:nth-child(1) {
  transform: scale(1.1);
  left: 0px;
  z-index: 1;
}

.images img:nth-child(2) {
  transform: scale(1.2);
  left: 180px;
  z-index: 2;
}

.images img:nth-child(3) {
  transform: scale(1.4);
  z-index: 4;
  left: 360px;
}
.images img:nth-child(4) {
  transform: scale(1.2);
  z-index: 3;
  left: 90%;
  left: 540px;
}
.images img:nth-child(5) {
  transform: scale(1.1);
  z-index: 2;
  left: 90%;
  left: 720px;
}

/* Upper */
.mainImage {
  background-color: red;
  height: 400px;
  width: 400px;
}
.mainImage img {
  width: 100%;
  height: 100%;
}

.usless1 {
  position: absolute;
  background-color: red;
  right: 0;
  width: 200px;
  height: 200px;
}
.usless {
  position: absolute;
  background-color: rgb(142, 94, 94);
  left: 0;
  width: 200px;
  height: 200px;
}
